.yamanTupian {
  height: 3.55rem;
  width: 100%;
  background-image: url('../images/icon/homeTitleGoods.png');
  background-size: cover;
}

.homeImg1 {
  height: 3.55rem;
  width: 100%;
  opacity: 0.5;
  background: #000000;
}

.newModal {
  height: 0.93rem;
  margin-top: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  margin-bottom: 0.2rem;
}

.newTop {
  width: 25%;
  height: 0.93rem;
}

.newTitle {
  display: inline-block;
  color: #8A8A8A;
  font: 0.25rem/0.93rem "";
  margin-left: 0.2rem;
  line-height: .93rem;
}

.newImg {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  text-align: center;
  vertical-align: middle;
  margin-top: -0.05rem;
}

.newContent {
  height: 0.96rem;
  /* margin-top: 0.1rem; */
  display: inline-block;
  font: 0.24rem/0.96rem "";
  color: #999999;
  letter-spacing: 0;
  text-align: center;
  width:70%;
  display: inline-block;
}

.homeBox {
  width: 100%;
  overflow: hidden;
}

.homeMain {
  width: 100%;
  background: #fff;
  margin-bottom: 0.31rem;
}

.homeMain-top {
  height: 0.86rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EEEEEE;
  /* margin-left: 0.2rem; */
  padding-left: .2rem;
}

.homeMain-title {
  font-family: PingFangSC-Regular;
  font-size: 0.34rem;
  color: #333333;
  line-height: 0.36rem;

}

.newImg1 {
  height: 0.262rem;
  width: 0.142rem;
  margin-right: 0.2rem;
  display: block;
}

.homeAround-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}
.homeAround{
   width:100%;
   /* margin-right: 0.4rem; */
   align-items: center;
   align-items:center;
}
.homeAroundLeft{
  float: left;
  margin-left: 0px;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

.newImg2 {
  width: 3.35rem;
  height: 3.35rem;
}

.homeName {
  font-family: PingFangSC-Semibold;
  font-size: 0.28rem;
  color: #333333;
  /* line-height: 0.28rem; */
  margin-top: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 0.28rem;
  width:3.35rem;
}

.homeDecc {
  font-size: 0.24rem;
  color: #999999;
  text-align: left;
  line-height: 0.45rem;
  font-family: PingFangSC-Regular;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right:0.29rem;
  width:3.32rem;
}

.homeTitle {
  font-family: PingFangSC-Regular;
  font-size: 0.28rem;
  color: #F3654C;
  text-align: left;
  margin-top: 0.1rem;
}
.homeTitle .homeMoney{
  font-family: PingFangSC-Semibold;
  font-size: .32rem;
}
.footer {
  background: #FFFFFF;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #f7f7f7;
}

.mint-tabbar>.mint-tab-item.is-selected {
  color: #F3654C;
  background-color: #fff;
}

.mint-tabbar>.mint-tab-item-icon.is-selected {
  background: #F3654C;
}
/* 底部遮挡修改
 */
 body{
   padding-bottom: 1.1rem;
 }
 .mint-tabbar.is-fixed{
  background: #fff;  
  border: 1px solid #f7f7f7;
 }

 /* @keyframes mymove{
   0% {right: 0;}
   50%{left: -5.3rem}
  100% {right: 0;}
 }
 .newContent{
  
   overflow: hidden;
 }
 .newContent span{
   display: block;
   width: 5.3rem;
   position: relative;
   animation:mymove  5s infinite;
 } */