body{
    font-family: 'PingFangSC-Regular';
    background: #f7f7f7;
    padding-bottom:2.7rem;
}

.renzh{
	width: 1.7rem;
	height: .3rem;
	border: 1px solid #1CCFC9;
	float: left;
	margin:.15rem 0 0 .15rem;
	font-size: .2rem;
	color: #1CCFC9;
	text-align: center;
	line-height: .3rem;
}


/*租金信息*/
.sec-2{
	width: 100%;
	height: 2rem;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.sec-2>div{
	display: inline-block;
	width: 33%;
	float: left;
	margin-top: .3rem;
	height: .9rem;
}
.sec-2>div>p:nth-child(1){
	font-size: .32rem;
	color: #333333;
	letter-spacing: 0;
	text-align: center;
	line-height: .32rem;
}
.sec-2>div>p:nth-child(2){
	font-size:.24rem;
	color: #999999;
	letter-spacing: 0;
	text-align: center;
	line-height: .4rem;
}
.word{
	clear: both;
}
.word span{
	display: block;
	font-size: .24rem;
	color: #999999;
	letter-spacing: 0;
	line-height: .24rem;
}
.info{
	float: left;
	width: .2rem;
	height: .2rem;
}
.word img{
	width: .2rem;
	float: left;
	margin-left: .5rem;
	margin-right: .08rem;
	margin-top: .008rem;
}
.sec-3{
	border-top: .1rem solid #f7f7f7;
}
.sec-3 ul li{
	width: 100%;
	height: 1.5rem;
	background: #fff;
}
.line-1{
	padding: .4rem .3rem 0;
}
.line-1>span:nth-child(1){
	display: inline-block;
	float: left;
	font-size: .28rem;
	color: #666666;
	letter-spacing: 0;
	line-height: .28rem;
}
.line-1>span:nth-child(2){
	display: inline-block;
	float: right;
	font-size:.28rem;
	color: #666666;
	letter-spacing: 0;
	text-align: right;
	line-height: .28rem;
}
.line-2{
	padding: .2rem .3rem 0;
	clear: both;
}
.line-2>span:nth-child(1){
	display: inline-block;
	float: left;
}
.line-2 span:nth-child(1) span{
	font-size: .4rem;
	color: #333333;
	letter-spacing: 0;
}
.line-2>span:nth-child(2){
	display: inline-block;
	float: right;
	font-size: .24rem;
	color: #999999;
	letter-spacing: 0;
	text-align: right;
	margin: .1rem 0 0 0
}
.line-2>span{
	font-size: .22rem;
	color: #333333;
	letter-spacing: 0;
}
.line{
	float: right;
	width: 96%;
	border-top: 1px solid #ddd;
	margin-top: .3rem;
}
.gray-ul li{
	background: #f7f7f7!important;
	color: #bbb!important;
}
.gray-ul li span{
	color: #bbb!important;
}
.sec-3 ul{
	clear: both;
}
.sec-3 ul li:nth-child(1){
	border-top: none;
}
.fff-ul li:last-of-type .line{
	display: none;
}
.gray-ul li:last-of-type .line{
	display: none;
}


/* 头部地址 */
.dd_sure{
    width: 100%;
    /* min-height: 2.3rem; */
    background: #fff;
    border-top: 1px solid #f7f7f7;
    position: relative;
    overflow: hidden;
}
.dd_sure{
    padding: .3rem 0 0;
}
.dd_sure>.contain-box span{
    display: inline-block;
    font-size: .32rem;
    color:#000;
}
.dd_sure>.contain-box span:nth-child(1){
    float: left;
}
.dd_sure.contain-box span:nth-child(2){
    float: left;
    margin-left: .6rem;
}
.dd_sure>.contain-box{
    padding:0 .3rem 0;
    height: .4rem;
    position: relative;
}

.address{
    padding: 0 .3rem 0;
    /* height: 1rem; */
	position: relative;
}
.address img{
    width: .2rem;float: left;
    margin-top: .11rem;
}
.address>p{
    width: 6.6rem;float:left;
    color: #999;
    font-size: .28rem;
    padding-left: .05rem;
    line-height: .45rem;
}
 .address p.orderDetail-small{
    clear: both;
   font-size: .24rem;
   color: #1F84FA;
   letter-spacing: 0;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   height: .65rem;
   padding-left: .28rem;
   line-height: .4rem;
}
.address .small-jump{
	width: .16rem;
	position: absolute;right: .3rem;
    bottom: .33rem;
}
.address>p.small{
    font-size: .2rem;
    float: left;
    color: #999;
    margin-left: .28rem;
    line-height: .45rem;
    padding-bottom: .3rem;
}
.line-2{
    clear: both;
    width: 100%;
    height: .001rem;
    position: absolute;
    bottom: -.1rem;
    background-image: linear-gradient(50deg, #F3654C 0%, #F78C5C 100%);
}

/* 租金列表
 */
 .lb{
    width: 100%;
    /* height: 4.36rem; */
    background: #fff;
    margin-top: .2rem;
}
.yuezu{
    padding: .3rem .3rem 0;
}
.yuezu>div{
    clear: both;
    font-size: .28rem;
    line-height: .6rem;
    height: .6rem;
}
/* .yuezu>div:nth-child(1){
   font-size: .2rem;
}
.yuezu>div:nth-child(1) span{
   font-size: .28rem;
   color: #333333;
   line-height: .28rem;
} */
.left{
    display: inline-block;
    float: left;
}
.right{
   display: inline-block;
   float: right;
}
.yuezu>div span{
    font-size: .28rem;
    color: #333;
}
.yuezu .gray span{
    font-size: .28rem;
    color: #999;
}
.yuezu .gray{
    font-size: .28rem;
    color: #999;
}

.lb-1{
    width: 100%;
    /*border-bottom: 1px solid #ddd;*/
    padding-bottom: .2rem;
}
.lb-1:last-of-type{
    border-bottom: none!important;
}
.quest{
    float: right;
    width: .3rem;
    margin-top: .16rem;
}
.mian{
    padding-right: .08rem;
}
.submit{
    /* height:2.5rem; */
    background: #fff;
    /* margin-top: .2rem; */
    padding: .4rem .3rem 0;
    position: relative;
}
.position-bot{
    position: fixed;
    bottom: 0;
    border-top: 1px solid #f7f7f7;
    background: #fff;
}


.readFile{
	position: absolute;
	width: 3.14rem;
	height: .81rem;
	left: .3rem;
	top: -.45rem;
}
.circle{
    width: .44rem;
    height: .44rem;
    border-radius: 50%;
    border: 1px solid #c9c9c9;
    float: left;
}
.shi{
    width: .3rem;height: .3rem;
    background: red;
    margin: .065rem auto;
    border-radius: 50%;
}
.text-word{
    display: inline-block;
    font-size: .28rem;
    color: #333333;
    line-height: .5rem;
    margin-left: .1rem;
    padding-left: .15rem;
}
.text-word a{
    color: #2a8afa;
}
.tjdd{
    text-align: center;
    font-size: .36rem;
    width: 6.9rem;
    height: .88rem;
    margin: .4rem auto .4rem;
    background: rgba(244,107,83,0.40);
    border-radius: .44rem;
    line-height: .88rem;
    color: #fff;
}
.red-btn{
    background: rgba(244,107,83,1);
    border: none;
}



/*未添加收货地址*/
.no-add{
	width: 100%;
	height: 1.88rem;
	background-image: linear-gradient(45deg, rgb(240, 79, 50) 0%, #F78C5C 100%);
	overflow: hidden;
	margin-bottom: .2rem;
}
.no-btn{
	width: 2.2rem;
	height: .5rem;
	margin: .7rem auto;
	border: 1px solid #fff;
	border-radius: .25rem;
	font-size: .24rem;
	color: #fff;
	text-align: center;
	line-height: .5rem;
}
.van-popup{
	width: 4.82rem;
	height: 2.59rem;
	background: #FFFFFF;
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);*/
	border-radius: .2rem;
}
.van-popup img{
	display: block;
	width: .6rem;
	height: .6rem;
	margin: .65rem auto .3rem;
}
.van-popup p{
	font-size: .28rem;
color: #333333;
text-align: center;
}
.right{
	display: inline-block;
	float: right;
	font-style: normal;
}
.item1{
    height: .88rem;
    /*margin: .2rem 0;*/
}
.left-title{
    font-size: .28rem;
    color: #333333;
    letter-spacing: 0;
    display: inline-block;
    float: left;
}
.van-stepper{
    display: inline-block;
    float: right;
    margin-left: .74rem;
}
.item1 .van-stepper button{
    height: .55rem;
    border: 1px solid #ddd;
    width: .5rem;
}
.van-stepper input{
    height: .4rem;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    width: .5rem;
    font-size: .23rem;
}

.van-stepper .van-stepper__minus{
    border-radius: .24rem 0 0 .24rem;
    width: .4rem;
}
.van-stepper .van-stepper__plus{
    border-radius:  0 .24rem  .24rem 0;
    width: .4rem;
    
}
.van-stepper .van-stepper__plus::after,.van-stepper .van-stepper__plus::before{
	background-color: #F3654C;
}
.item1 .van-stepper__stepper{
    width: .3rem;   
}
.item1 .van-stepper__stepper::after,.item1 .van-stepper__stepper::before{
    background-color: #F3654C;
    font-weight: bold;
}
.van-stepper .van-stepper__minus::before{
    background-color: #F3654C;
}
.van-stepper__input{
    line-height: .05rem;
    /* margin-top: -.0055rem; */
}
.yuezu div.gray-word{
	font-size: .24rem;
	color: #999999;
	text-align: left;
	line-height: .32rem;
	margin-top: .05rem;
}
.marTop{
	margin-top: .2rem;
	background: #fff;
	padding-bottom: .35rem;
}
.marTop .black span,.marTop .black{
	color: #333;
}


/*邀请码*/
.item-box{
    background: #fff;
}

.item-box1>.item2:last-of-type{
    border-bottom:none;
}
.item2 textarea{
    width: 5rem;
    float: right;
    /* height: .5rem; */
    margin-top: .28rem;
    border: none;
    background: #fff;
    line-height: .5rem;
    font-size: .27rem;
    text-align: right;
}
.item2 textarea::placeholder{
    color: #ccc;
    font-size: .28rem;
    text-align: right;
    line-height: .5rem;
}
.item-box .item2{
    width: 6.9rem;
    margin: 0 auto;
    /* border-bottom: 1px solid #ddd; */
    height: 1rem;
    line-height: 1rem;
}
.item2 input{
    width: 5rem;
    float: right;
    height: .5rem;
    margin-top: .27rem;
    border: none;
    background: #fff;
    line-height: .5rem;
    font-size: .27rem;
    /*text-align: right;*/
   text-indent: 1em;
}
.item2 input::placeholder{
    color: #ccc;
    font-size: .28rem;
    text-align: right;
    line-height: .5rem;
}
.item-box2{
    margin-top: .2rem;
}
.item-box2>.item2 input{
    width: 4.8rem;
}
.item-box1 .item2 p{
    width: 7.2rem;
    position: absolute;
    border-top: 1px solid #ddd;
    bottom: 0;
    left: 0;
}
.item-box1 .item2{
    position: relative;
}
.item-box2 .item2 p{
    width: 7.2rem;
    position: absolute;
    border-top: 1px solid #ddd;
    bottom: 0;
    left: 0;
}
.item-box2 .item2{
    position: relative;
}
.item-box2 .item4 textarea{
    width: 4.5rem;
    text-align: left;
}
.item-box2 .item4 textarea::placeholder{
    text-align: left;
}
.item-box .item4{
    height: 1.5rem;
}



/* 新增右上角编辑图标
 */
 .right-top{
     position: absolute;
    right: .3rem;
    top: 0.01rem;
 }
 .van-icon-edit:before{
     transform: scale(1.3)
 }