body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,figcaption,figure,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;font-family: 'PingFangSC-Regular';}
body,button,input,select,textarea{font:12px/1 'PingFangSC-Regular','Microsoft YaHei',"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif}
h1{font-size:18px;font-weight:normal}
h2{font-size:16px;font-weight:normal}
h3{font-size:14px;font-weight:normal}
h4,h5,h6{font-size:100%;font-weight:normal}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace}
small{font-size:12px}
ul,ol,li{list-style:none}
a{text-decoration:none}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help}
q:before,q:after{content:''}
legend{color:#000}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;height:1px}
*{-ms-word-break:break-all;word-break:break-all;-ms-word-wrap:break-word;word-wrap:break-word;-webkit-tap-highlight-color:rgba(0,0,0,0)}


input:focus, textarea:focus {
  outline: none;
}

.full-width {
  width: 100%;
}
body{
    box-sizing: border-box;
    font-family: 'PingFangSC-Regular';
    background: #f7f7f7;
  }
  .flexBetween {
    display: flex;
    justify-content: space-between;
  }
  .container {
    width: 100%;
    background: #ffffff;
    font-family: 'PingFangSC-Regular';
    /* font-size: 0; */
    font-size: 12px;
  }
  .grayBackColor {
    background: #f7f7f7;
  }
  .writeBackColor {
    background: #FFFFFF;
  }
  .hollow-button {
    border: 1px solid #F3654C;
    border-radius: .24rem;
    font-size: .24rem;
    color: #F3654C;
    height: .48rem;
    line-height: .45rem;
    padding: 0 .36rem;
    background: #fff;
  }
  .orangeButton {
      width: 1.75rem;
      height: .48rem;
      line-height: .45rem;
      border-radius: 1rem;
      font-size: .24rem;
      display: inline-block;
      color: white;
      border-color:  #F3654C;
      background-color: #F3654C;
  }
  .intoButton {
      background-color: #F3654C;
      color: white;
  }
  .overHidden{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  
  .fixBottom {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width:100%;
    height: 100rpx;
    line-height: 100rpx;
    font-family: 'PingFangSC-Regular';
    box-shadow: inset 0 1px 0 0 #DDDDDD;
  }
  .bar {
      background-image: linear-gradient(45deg, #F3654C 0%, #F78C5C 100%);
      height:10rpx;
  }
  .line {
    border-bottom: 1px solid #DDDDDD;
  }  
  
  /* 颜色 */
  .light-gray {
    color: #666666;
  }
  .gray {
    color: #999999;
  }
  .orange {
    color: #F3654C;
  }
  .black {
    color: #333333;
  }
  .blue {
    color: #1F84FA;
  }
  .white {
    color: #FFFFFF;
  }
  .yellow {
    color: #FFA800;
  }
  /* 字体 */
  .regular {
    font-family: 'PingFangSC-Regular';
  }
  .medium {
    font-family: 'PingFangSC-Medium';
  }
  
  /* 字体大小 */
  .smallFont {
    font-size: .22rem;
    line-height: .22rem;
  }
  .smallerFont {
    font-size: .20rem;
    line-height: .20rem;
    letter-spacing: 0;
  }
  .mediumstFont {
    font-size: .30rem;
    line-height: .30rem;
    letter-spacing: 0;
  }
  .mediumerFont {
    font-size: .28rem;
    line-height: .28rem;
    letter-spacing: 0;
  }
  .mediumFont {
    font-size: .24rem;
    line-height: .24rem;
    letter-spacing: 0;
  }
  .largeFont {
    font-size: .32rem;
    line-height: .32rem;
    letter-spacing: 0;
  }
  .largerFont {
    font-size: .36rem;
    line-height: .36rem;
    letter-spacing: 0;
  }
  .largestFont {
    font-size: .48rem;
    line-height: .48rem;
    letter-spacing: 0;
  }
  .more {
    height:.26rem;
    width:.16rem;
  }
  
  
  /*定单共用样式*/
  /* view,text { font-family: Arial, Helvetica, sans-serif;} */
  
  .orderInfo{display:flex; padding: 20rpx 10rpx;  background: #fff;}
  .orderInfo image{ width: 200rpx; height: 200rpx;}
  .orderInfo .right{ flex: 1; }
  .orderInfo text {color:#333; font-size: 24rpx; display:block; line-height: 50rpx;}
  .orderInfo .right .title { font-size: 28rpx;}
  .orderInfo .right .spec { color:#999;}
  .orderInfo .right label { padding:2rpx 10rpx; color: #1CCFC9; font-size: 20rpx; border: 2rpx solid #1CCFC9;}
  
  
/* 商品 */
.goodsInfo {
    display: flex;
    background: #fff;
}
.goodsInfo img {
    width: 1.60rem;
    height: 1.60rem;
}
.goodsInfoRight {
    width: 5.10rem;
    margin-left: .20rem;
}
.goodsInfoSmall {
    font-size: .24rem;
    line-height: .24rem;
    margin: .20rem 0 .4rem 0;
    height: .24rem;
}
.goodsInfoTip {
    font-size: .20rem;
    color: #1CCFC9;
    text-align: center;
    line-height: .20rem;
    border: 1px solid #1CCFC9;
    width: 1.70rem;
    padding: .03rem;
    margin-top: .15rem;
}
.price-num {
  display: flex;
  justify-content: space-between;
}