<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 电话类型的数字不变颜色 -->
    <meta name = "format-detection" content = "telephone=no">
    <title>编辑收货地址</title>
    <link rel="stylesheet" type="text/css" href="asset/css/reset.css"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/vant/lib/vant-css/index.css">
    <link rel="stylesheet" type="text/css" href="asset/css/editAddress.css"/>
</head>
<body>
	<div id="app">
		<div class="sec-1">
                <!-- <van-address-edit
                :area-list="areaList"
                show-postal
                show-search-result
                :search-result="searchResult"
                @save="onSave"
                @delete="onDelete"
                @change-detail="onChangeDetail"
              /> -->
                
            <!-- info 部分 -->
            <div class="item-box item-box1">
                <div class="item2">
                    <span class="left-title">
                            收货人
                    </span>
                   <input type="text" placeholder="" value="" v-model="peo">
                   <p></p>
                </div>
                <div class="item2">
                    <span class="left-title">
                            手机号码
                    </span>
                    <input type="text" placeholder="" value="" v-model="tel">
                    <p></p>
                </div>
                <div class="item2">
                    <span class="left-title">
                            公司名称
                    </span>
                    <input type="text" placeholder="" value="" v-model="com">
                    <p></p>
                </div>
                <div class="item2 item3">
                    <span class="left-title">
                            所在地区
                    </span>
                    <input type="text" placeholder=" " readonly class="address" value="" v-model="add">
                    <img src="asset/images/icon/more.png" alt="" class="ad-more">
                    <p></p>
                </div>
                <div class="item2 item4">
                    <span class="left-title">
                            详细地址
                    </span>
                    <!-- <input type="text" placeholder=" 请在此输入收货人的详细地址"> -->
                    <textarea name="" id="" cols="" rows="" placeholder="" v-model="det"></textarea>
                    <p></p>
                </div>
                <div class="item2">
                    <span class="left-title">
                            邮政编码
                    </span>
                   <input type="text" placeholder="" value="" v-model="pos">
                   <p></p>
                </div>
            </div>



        </div>

        <div class="btn-red" @click="save">
                保存
        </div>


	</div>
</body>
<script src="static/js/zepto.min.js"></script>
<script src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"></script>
<script src="static/js/vue.min.js"></script>
<script src="asset/js/util.js"></script>
<script src="static/js/date.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/vant/lib/vant.min.js"></script>
<script src="asset/js/editAddress.js"></script>
</html>