<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- 电话类型的数字不变颜色 -->
	<meta name="format-detection" content="telephone=no">
	<title>管理收货地址</title>
	<link rel="stylesheet" type="text/css" href="asset/css/reset.css" />
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/vant/lib/vant-css/index.css">
	<!-- <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css"> -->

	<link rel="stylesheet" type="text/css" href="asset/css/manageAddress.css" />
</head>
<style>
	.van-radio__input {
		vertical-align: -webkit-baseline-middle;
	}

	.van-radio .van-icon {
		font-size: .28rem;
		width: .4rem;

	}

	.van-radio__label {
		font-size: .28rem;
	}

	.van-radio .van-icon-checked {
		color: #F3654C;
	}
	.van-dialog {
		width: 5.4rem;
	}
	[v-cloak]{
		display: none;
	}
</style>

<body>
	<div id="app" v-cloak>
		<van-radio-group v-model="activeAddressId" style="margin-bottom: 1rem">
			<div v-for="(item,index) in addressList">
				<div class="sec-1">
					<p class="name-tel">
						<span class="l">
							{{item.username}}
						</span>
						<span class="r">
							{{item.mobile}}
						</span>
					</p>
					<p class="detail-address">{{item.detail}}</p>
					<div style="display: flex;justify-content: space-between;margin-top:.2rem">
						<van-radio :name="item.addressId" @click="checkAddress(item.addressId)">{{item.isDefault ? '默认地址':'设为默认地址'}}</van-radio>
						<span class="icon-an">
							<van-icon name="edit" @click="toAddressEdit(item.addressId)"></van-icon>
							<van-icon name="delete" @click="deleteAddress(item.addressId)"></van-icon>
						</span>
					</div>
				</div>
			</div>
		</van-radio-group>
		<div class="bottom" @click="toAddressEdit()">
			新增收货地址
		</div>
	</div>
</body>
<script src="static/js/zepto.min.js"></script>
<script src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"></script>
<script src="static/js/vue.min.js"></script>
<script src="asset/js/util.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/vant/lib/vant.min.js"></script>
<script src="asset/js/manageAddress.js"></script>

<script>
	
	
</script>
</html>