<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>我的账单</title>
    <link rel="stylesheet" type="text/css" href="asset/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="asset/css/myCount.css"/>
    <script src="//g.alicdn.com/ilw/cdnjs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		//	如果报错clientWidth 为null，意思是对于null没有clientWidth这个属性，说明document.body这个是null。需写在$(document).ready(function(){})里面
    		var body = document.body.clientWidth;		
        		document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    	})
	</script>
	<style>
		/*指令可以隐藏未编译的  标签直到实例准备完毕*/
		[v-cloak] {
				display: none;
			}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<div class="sec-1">
			<div class="con-head">
				<img :src="ordersProductEntity.cover" class="img"/>
				<div class="detail-box">
					<p>
						<span>{{ordersProductEntity.productName}}</span>
					</p>
					<p>{{ordersProductEntity.brief}}</p>
					<p>
						<span>总租金:</span>
						<span>￥{{ordersProductEntity.totalAmount}}</span>
					</p>
					<!-- <div class="renzh">
						芝麻信用·免押金
					</div> -->
				</div>
			</div>
		</div>
		
		<!--租金信息-->
		<div class="sec-2">
			<div>
				<p>{{ordersProductEntity.totalAmount}}</p>
				<p>应还租金(元)</p>
			</div>
			<div>
				<p>{{money}}</p>
				<p>已还租金(元)</p>
			</div>
			<div>
				<p>{{waitMoney}}</p>
				<p>待还租金(元)</p>
			</div>
			
			<p class="word"> 
				<img src="asset/images/icon/dh.png"/>
				<span>账单到期将通过支付宝免密支付方式还款，请注意查收信息</span>	
			</p>
		</div>
		
		
		<!--分期信息-->
		
		<div class="sec-3">
			<ul class="fff-ul">
				<li v-for="item in list">
					<div class="line-1">
						<span>{{item.periodNumber}}/{{allCount}}</span>
						<span>{{item.status == 0 ? '待还款' : '已还款'}}</span>
					</div>
					<div class="line-2">
						<span>
							￥<span>{{item.money}}</span>
						</span>
						<span>{{item.cdate}}通过支付宝免密支付还款</span>
					</div>
					<p class=line></p>
				</li>
			</ul>

			<ul class="gray-ul" v-if="list2.length > 0">
				<li v-for="item in list2">
					<div class="line-1">
						<span>{{item.periodNumber}}/{{allCount}}</span>
						<span>{{item.status == 1 ? '已还款' : '待还款'}}</span>
					</div>
					<div class="line-2">
						<span>
							￥<span>{{item.money}}</span>
						</span>
						<span>{{item.cdate}}</span>
					</div>
					<p class=line></p>
				</li>
			</ul>
			<ul v-else></ul>
		</div>
		
	</div>
</body>
<script src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="asset/js/util.js"></script>
<script src="static/js/date.js"></script>
<script type="text/javascript">

	var vm = new Vue({
		el:'#app',
		//	此处的data返回应该是一个object，vue-cli构建的里面才可返回方法
		data:{
			list:[
				
			],
			list2:[

			],
			orderId:'',
			ordersProductEntity:'',
			url:getApiUrl('/rest/bills/view'),
			allCount:'',
			waitMoney:'',
			money:'',

		},
		methods:{
			init:function(){
				vm.request();
				
			},
			//	请求数据
			request:function(){
				$.ajax({
					type:'get',
					data:{
						orderId:202
					},
					url:vm.url,
					success:function(data){
						console.log(data)
						if(data.code == 200){
							vm.ordersProductEntity = data.data.ordersProductEntity;

							// 如果值为null则赋值0
							if(data.data.ordersProductEntity.totalAmount == null){
								data.data.ordersProductEntity.totalAmount = 0;
							}
							if(data.data.money == null){
								vm.money = 0;
							}
							vm.ordersProductEntity.totalAmount = data.data.ordersProductEntity.totalAmount.toFixed(2);
							vm.list = data.data.noPaidList;
							vm.list2 = data.data.paidList;
							vm.money = data.data.money;
							vm.waitMoney = (vm.ordersProductEntity.totalAmount - vm.money).toFixed(2);
							vm.list.forEach(function(k,v){
								k.cdate = getTime(k.cdate,1);
								vm.allCount = data.data.ordersProductEntity.periodNumber;
							});
							vm.list2.forEach(function(k,v){
								k.cdate = getTime(k.cdate);
							})
						}
					},
					error:function(){
						console.log(':)')
					}
				})

				// this.$axios.get(url+'shop-service/rest/bills/Ddview',{'orderId':''}).then(res=>{
				// 	console.log(res)
				// })
			}
		}
	})
	vm.init()
</script>
</html>