<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- 电话类型的数字不变颜色 -->
    <meta name = "format-detection" content = "telephone=no">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="asset/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="asset/css/orderDetail.css"/>
    <link rel="stylesheet" type="text/css" href="asset/component/css/modal.css"/>
    
	<style>
        /*指令可以隐藏未编译的  标签直到实例准备完毕*/
        [v-cloak] {
                display: none;
            }
    </style>
</head>
<body onresize="mask()">
	<div id="app" :class="bot?'app':'app1'">
        <!-- 订单状态 -->

        <div class="order-status">
            <div v-cloak>
                <!-- status == 11..的为待定状态 -->
                <!-- 订单取消 -->
                <img src="asset/images/icon/cancel.png" alt="" class="status-img status-cancle" v-if="status == 1">
                <!-- 租用中 -->
                <img src="asset/images/icon/leasing.png" alt="" class="status-img" v-else-if="status == 9">
                <!-- 待收货 -->
                <img src="asset/images/icon/logistic.png" alt="" class="status-img status-img-daishou" v-else-if="status == 3">
                <!-- 待支付 -->
                <img src="asset/images/icon/cancel.png" alt="" class="status-img status-cancle" v-else-if="status == 0">
                <!-- 租期已满 -->
                <img src="asset/images/icon/full.png" alt="" class="status-img" v-else-if="status == 10">
                <!-- 待发货 -->
                <img src="asset/images/icon/delivery.png" alt="" class="status-img status-img-daifa" v-else-if="status == 2">
                <!-- 审核拒绝 -->
                <img src="asset/images/icon/shhjj.png" alt="" class="status-img status-ju" v-else-if="status == 16">
                <!-- 审核通过 -->
                <img src="asset/images/icon/shhtg.png" alt="" class="status-img status-ju" v-else-if="status == 113">
                <!-- 授权信息审核中 -->
                <img src="asset/images/icon/shhz.png" alt="" class="status-img status-ju" v-else-if="status == 15">
                <img src="" alt="" v-else>

                <span class="status-word">
                        <span>{{nothing}}</span>
                </span>
            </div>
            <div class="explain-t">
                    {{stw}}
            </div>
            <p class="status-time">{{stt}}</p>

            <div class="status-jump" @click="mm">
                <img src="asset/images/icon/jump.png" alt="">
            </div>

            <!-- 待支付 无跳跃箭头 -->
            <div></div>
        </div>

        <!-- 确认地址
         -->
         <div class="dd_sure">
            <p>
                <span>{{obj.name}}</span>
                <span>{{phone}}</span>
            </p>

            <div class="address">
                <img src="asset/images/icon/map.png" alt="" class="map">
                <p>
                   {{obj.address}}
                </p>
               <div class="p-box" @click="openModal('signTip')">
                    <p class="small orderDetail-small">签收须知：收货当天你需要1、提供身份证复印件(正反面)</p>
                    <img src="asset/images/icon/more.png" alt="" class="small-jump">
               </div>   
            </div>
            <div class="line-2"></div>
         </div>


		<div class="sec-1">
			<div class="con-head">
				<img :src="obj.cover" class="img"/>
				<div class="detail-box">
					<p>
						<span>{{obj.productName}}</span>
					</p>
					<p>{{obj.brief}}</p>
					<p>
						<span>总租金:</span>
                        <span>￥{{obj.totalAmount}}</span>
                        <span>x {{obj.quantity}}</span>
					</p>
				</div>
			</div>
        </div>
        

        <!-- 租金 -->
		
		<div class="lb">
            <div class="lb-1">
                <div class="yuezu">
                    <div class="gray">
                        <span class="l">总合计</span>
                        <div class="r">
                            ￥<span>{{obj.totalAmount}}</span>
                        </div>
                    </div>
                    
                    <div>
                        <span class="l">月租金</span>
                        <div class="r">
                            ￥<span>{{obj.payAmount}}</span>
                        </div>
                    </div>
                    <div class="gray">
                        <span class="l">租期</span>
                        <div class="r">
                            <span>共{{obj.periodNumber}}个月</span>
                        </div>
                    </div>
                    <div class="gray">
                        <span class="l">商品数量</span>
                        <div class="r">
                            <span>{{obj.quantity}}</span>
                        </div>
                    </div>
                    <div class="gray">
                        <span class="l">租金付款方式</span>
                        <img src="asset/images/icon/quest.png" alt="" class="quest" @click="openModal('payTip')">
                        <span class="r mian">支付宝免密支付</span>
                    </div>
                </div>
            </div>


            <!-- 总押金 -->

            <div class="lb-1">
                <div class="yuezu">
                    <div class="gray">
                        <span class="l">总押金</span>
                        <div class="r">
                            ￥<span>{{obj.productDeposit}}</span>
                        </div>
                    </div>
                    
                    <div>
                        <span class="l">信用免押金</span>
                        <div class="r">
                            -￥<span>{{obj.zhimaCrediFreeDeposit}}</span>
                        </div>
                    </div>
                    <div class="">
                        <span class="l">冻结金额</span>
                        <div class="r">
                            -￥<span>{{obj.authorizedDeposit}}</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- 下单编号 -->
        <div class="xdbh">
            <p>
                <span>订单编号</span>
                <span>{{obj.sn}}</span>
            </p>
            <p>
                <span>下单时间</span>
                <span>{{stt}}</span>
            </p>
        </div>
        

        <!-- 联系客服，查看账单 -->
        <div class="kf">
            <!-- <div @click="seeCount">查看账单</div> -->
            <!-- 审核拒绝出现 -->
            <!-- <div @click="" class="seeCount2">授权申请</div> -->
            <!-- 查看授权信息 -->
            <div @click="seePower" class="seePower">查看授权信息</div>
            <div @click="openModal('contactTip')">联系客服</div>
        </div>

        <!-- 审核通过 -->
        <!-- <div class="pay_btn">
            <div class="pay_now" @click="pay">
                立即支付
            </div>
        </div> -->

        
        <!-- 待发货弹窗 -->
        <div class="mask" style="display: none;">
            <div class="tt-ch">
                <div class="data-box">
                    <p class="t-head">签收须知</p>
                    <div class="four-w">
                        <p>收货当天你需求：</p>
                        <p>1.检查商品外包装完整；</p>
                        <p> 2.快递本人签收；</p>
                        <p>3.签收当天视为合约生效</p>
                    </div>
                    <img src="asset/images/icon/close.png" alt="" class="close-tt" @click="close">
                </div>
            </div>
        </div>

        <pop-modal v-model="showPop" :poptitle="popTitle" :popcontent="popContent" :setstyle="setStyle"></pop-modal>
	</div>
</body>
<script src="static/js/zepto.min.js"></script>
<script src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"></script>
<script src="static/js/vue.min.js"></script>
<script src="asset/component/js/modal.js"></script>
<script src="asset/js/util.js"></script>
<script src="static/js/date.js"></script>
<script src="asset/js/orderDetai.js"></script>
</html>