<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title> 用户授权</title>
    <link rel="stylesheet" type="text/css" href="asset/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="asset/css/userEmpower.css"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/vant/lib/vant-css/index.css">
    <script src="//g.alicdn.com/ilw/cdnjs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		//	如果报错clientWidth 为null，意思是对于null没有clientWidth这个属性，说明document.body这个是null。需写在$(document).ready(function(){})里面
    		var body = document.body.clientWidth;		
        		document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    	})
    </script>
</head>
<body>
	<div id="app" :class="bot?'app':'app1'">
        <!-- 审核通过部分 -->
		<div class="" v-show="status1">
            <div class="sec-1">
                <div class="order-status">
                     <div>
                         <img src="asset/images/icon/shhtg.png" alt="" class="status-img status-ju">
                         <span class="status-word">
                                 {{st}}
                         </span>
     
                         <p class="congratulation">恭喜你，授权信息已经审核通过；可以前往订单列表页 完成支付</p>
                     </div>
                </div>
             </div>
             
             <div class="sec-2">
                 <div class="sec-first">
                     <img src="asset/images/icon/free.png" alt="" class="free-img">
                     <span class="sq-word">
                         授权芝麻信用
                     </span>
                     <p class="sq-explain">首次申请租赁的企业用户，需要完成企业/个人授权，部分信息人
                         工审核后可以继续租赁</p>
                 </div>
             </div>
     
            
        </div>
        
        <!-- 信息填写 -->
        <div class="">
            <!-- 用户授权的首页 -->
            <div class="head-sec" v-show="st1">

            </div>


            <div class="tianxie">
                <div class="item-mnue">
                    <p class="item-title">统一社会信用代码/注册号</p>
                    <input type="text" v-model="value1">
                </div>
                <div class="item-mnue">
                    <p class="item-title">公司名称</p>
                    <input type="text" v-model="value2">
                </div>
                <div class="item-mnue">
                    <p class="item-title">真实姓名</p>
                    <input type="text" v-model="value3">
                </div>
                <div class="item-mnue">
                    <p class="item-title">身份证号</p>
                    <input type="text" v-model="value4">
                </div>
                <div class="item-mnue">
                    <p class="item-title">手机号</p>
                    <input type="text" v-model="value5">
                </div>
                
                <div class="item-mnue-jt">
                    <p class="item-title">上传钉钉指数截图</p>
                </div>


                <div class="img-up">
                    <!-- <div class="img-box" v-for="item in src">
                        <img :src="item" alt="">
                    </div> -->
                    <div class="img-box">
                        
                        <van-uploader :after-read="onRead1">
                            <van-icon name="photograph" />
                        </van-uploader>
                    </div>
                    <div class="img-box">

                    </div>
                    <p style="clear: both;"></p>
                </div>

                <div class="item-mnue-jt">
                    <p class="item-title">上传企业委托书</p>
                </div>

                <div class="img-up img-up2">
                    <!-- <div class="img-box" v-for="item in img">
                        <img :src="item" alt="">
                    </div> -->
                    <div class="img-box">
                        
                        <van-uploader :after-read="onRead2">
                            <van-icon name="photograph" />
                        </van-uploader>
                    </div>
                    <div class="img-box">

                    </div>
                    <p style="clear: both;"></p>
                </div>
                

                <div class="now-lj" v-show="st1">
                    <div class="bow-btn" @click="ljsq">
                            立即授权
                    </div>
                </div>


               <div v-show="status1">
                    <!-- 联系客服，查看账单 -->
                    <div class="kf">
                        <!-- 审核拒绝出现 重新提交 -->
                        <div  class="seePower">重新提交</div>
                        <div>联系客服</div>
                    </div>
            
                    <!-- 审核成功 -->
                    <!-- <div class="now-lj">
                        <div class="bow-btn">
                                完成订单支付
                        </div>
                    </div> -->
               </div>


            </div>
        </div>
    </div>
</body>
<script src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/vant/lib/vant.min.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		//	此处的data返回应该是一个object，vue-cli构建的里面才可返回方法
		data:{
            status1:false, //  审核状态
			list:[],
            st:'审核通过',
            img:[],
            bot:false,
            st1:true,
            src:'',
            value1:'',
            value2:'',
            value3:'',
            value4:'',
            value5:'',
            
		},
        methods:{
            see:function(){

            },
            back:function(){

            },
            ljsq:function(){

            },
            onRead1(file) {
                // 以base64位上传图片
                console.log(file)
            },
            onRead2(file) {
                // 以base64位上传图片
                console.log(file)
            }
        }
	})
	
</script>
<script>
    
    
</script>
</html>